.nav-icon {
  font-size: 2rem; }

a {
  text-decoration: none;
  font-size: 1.2rem;
  outline: none; }
  a .fa-arrow-alt-circle-right {
    margin-left: 10px; }
  a:hover {
    color: indigo;
    text-decoration: none; }

.btn-banner-link {
  color: indigo;
  border: 2px indigo solid;
  outline: none !important;
  border-radius: 22px;
  padding: 10px 15px 10px 15px;
  margin-top: 20px; }

.img-logo-brand {
  max-width: 120px;
  width: 120px;
  background-image: url("../img/fdfdf.png");
  height: 60px;
  background-size: cover;
  transition: all 0.6s ease-out; }

.img-logo-brand2 {
  max-width: 120px;
  width: 120px;
  background-image: url("../img/fuse-white.png");
  height: 60px;
  background-size: cover;
  transition: all 0.6s ease-out; }

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #353030; }

.nav-link-scrolled {
  color: #e9f1f4 !important;
  font-weight: 200;
  transition: all 0.6s ease-out; }

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

.navbar.scrolled {
  background: #444444;
  /* IE */
  background: rgba(0, 0, 0, 0.78);
  /* NON-IE */ }

.logo-nav {
  max-width: 100px; }

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.search * {
  outline: transparent !important;
  box-sizing: border-box; }

.search__wrapper {
  position: relative; }

.search__field {
  width: 50px;
  height: 50px;
  color: transparent;
  font-family: Lato, sans-serif;
  font-size: 1.35em;
  padding: 0.35em 50px 0.35em 0;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

.search__field:focus {
  border-bottom-color: #ccc;
  width: 50vw;
  color: #2b2b2b;
  cursor: default; }

.search__field:focus ~ .search__icon {
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto; }

.search__icon {
  outline: transparent !important;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e9f1f4;
  width: 50px;
  height: 50px;
  font-size: 1.35em;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  transition: background-color 0.2s ease-in-out; }

.search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000; }

.search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000; }

.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000; }

.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000; }

.search__field::-webkit-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important; }

.search__field:-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important; }

.search__field::-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important; }

.search__field:-ms-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important; }

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.clamp-5, #banner .text-banner .clamp-cst {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.pd-contain {
  padding-top: 20px;
  padding-bottom: 20px; }

.pd-0 {
  padding: 0px; }

body {
  font-family: 'Maven Pro'; }

.lunch-box {
  width: 100%;
  overflow: hidden; }

.sementara {
  width: 100%;
  height: 300px; }

#banner {
  padding: 5% 0px 5% 0px; }
  #banner .box-hero-img {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%; }
  #banner .text-banner {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    font-family: 'Maven Pro'; }
    #banner .text-banner .mrb-text {
      margin-bottom: 40px; }

#sosial-fixed .media-us ul {
  list-style-type: none; }
  #sosial-fixed .media-us ul li a {
    font-size: 2rem;
    text-shadow: 2px 2px white;
    color: #757171; }
    #sosial-fixed .media-us ul li a .fa-envelope:hover {
      color: red; }
    #sosial-fixed .media-us ul li a .fa-facebook-square:hover {
      color: #1773ea; }
    #sosial-fixed .media-us ul li a .fa-instagram:hover {
      color: #7444bc; }
    #sosial-fixed .media-us ul li a .fa-twitter:hover {
      color: #009deb; }
    #sosial-fixed .media-us ul li a .fa-whatsapp:hover {
      color: #10b418; }
    #sosial-fixed .media-us ul li a .fa-youtube:hover {
      color: red; }
#sosial-fixed .media-us .fixed-top {
  top: 25%;
  width: 7%; }

.box-separator {
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  min-height: 400px;
  background-color: aqua; }

.grad-grey {
  background: -moz-linear-gradient(bottom, #bfbfbf 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(bottom, #bfbfbf 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to top, #bfbfbf 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#00ffffff', GradientType=0); }

.box-pass {
  max-width: 100%; }
  .box-pass .img-radius {
    border-radius: 20px; }

#footer .card {
  background-color: white;
  color: indigo;
  margin-top: 50px;
  border: none; }
#footer .head1 {
  font-weight: 900;
  font-size: 30px; }
#footer .bdr {
  border-bottom: 1.5px solid #FFB74D;
  width: 65px;
  margin-right: auto;
  margin-left: auto; }
#footer .footer-right > i {
  margin-left: 15px; }
#footer .fa-hand-holding-usd {
  color: #FFB74D; }
#footer .fa-handshake {
  color: #FFB74D; }
#footer .card-title {
  margin-bottom: .75rem;
  font-weight: 900;
  font-size: 15px;
  margin-top: 1.75rem; }
#footer .learn-more {
  color: #FFB74D; }
#footer .fa-angle-right {
  margin-left: 10px; }
#footer .fa-3x {
  color: #FFB74D; }
#footer .card-content {
  padding-right: 40px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px; }
#footer .card-content > p {
  color: #9E9E9E; }
#footer .heading {
  position: relative;
  top: 75px; }
#footer .follow-text {
  color: #9E9E9E; }

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.clamp-5, #banner .text-banner .clamp-cst {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.pd-contain {
  padding-top: 20px;
  padding-bottom: 20px; }

.pd-0 {
  padding: 0px; }

.swiper-Mousewheel-Control {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  .swiper-Mousewheel-Control .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden; }
  .swiper-Mousewheel-Control .swiper-pagination-progressbar {
    background: white !important; }
    .swiper-Mousewheel-Control .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background: #c1c1c1 !important; }
  .swiper-Mousewheel-Control .swiper-container-horizontal > .swiper-pagination-progressbar,
  .swiper-Mousewheel-Control .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: 100% !important;
    transform: translateY(-100%) !important; }

.swiper-aboutus {
  width: 100%;
  height: 100%; }
  .swiper-aboutus .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .swiper-aboutus .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 13px; }
  .swiper-aboutus .swiper-pagination-bullet-active {
    color: #fff;
    background: #7716eb;
    width: 30px;
    height: 12px;
    border-radius: 13px;
    transition: 0.3s ease width; }
  .swiper-aboutus .swiper-button-next {
    background-image: url(../img/play-button-kanan.png) !important;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px !important;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    left: 94%;
    top: 24px;
    outline: none !important; }
  .swiper-aboutus .swiper-button-prev {
    background-image: url(../img/play-button-kiri.png) !important;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 10;
    -moz-background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px !important;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    outline: none !important;
    left: 89%;
    top: 7px; }
  .swiper-aboutus .custom-arrow-about {
    position: relative;
    z-index: 100; }

.swiper-detail-aboutus {
  width: 100%;
  height: 100%;
  background: #000; }
  .swiper-detail-aboutus .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px; }
    .swiper-detail-aboutus .swiper-slide .title {
      font-size: 41px;
      font-weight: 300; }
    .swiper-detail-aboutus .swiper-slide .subtitle {
      font-size: 21px; }
    .swiper-detail-aboutus .swiper-slide .text {
      font-size: 14px;
      max-width: 400px;
      line-height: 1.3; }
  .swiper-detail-aboutus .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center; }

/*# sourceMappingURL=fuse.css.map */
