$stdio-ease: all 0.6s ease-out;

//searchbutton

//.search
//<form class="form-inline my-2 my-lg-0 search">
//<div class="search__wrapper">
//<input type="text" name="" placeholder="Search for..." class="search__field">
//<button type="submit" class="fa fa-search search__icon"></button>
//</div>
//</form>

//custom-nav

.nav-icon{
    font-size: 2rem;
}


a {
    text-decoration: none;
    font-size: 1.2rem;
    outline: none;

    .fa-arrow-alt-circle-right {
        margin-left: 10px;
    }

    &:hover {
        color: indigo;
        text-decoration: none ;
    }
}



.btn-banner-link {
    color: indigo;
    border: 2px indigo solid;
    outline: none !important;
    border-radius: 22px;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
}

.img-logo-brand {
    max-width: 120px;
    width: 120px;
    background-image: url("../img/fdfdf.png");
    height: 60px;
    background-size: cover;
    transition: $stdio-ease;
}

.img-logo-brand2 {
    max-width: 120px;
    width: 120px;
    background-image: url("../img/fuse-white.png");
    height: 60px;
    background-size: cover;
    transition: $stdio-ease;
}

//custom-navlink
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: #353030;
}

.nav-link-scrolled {
    color: #e9f1f4 !important;
    font-weight: 200;
    transition: $stdio-ease;
}

//---------navbarscrolled

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68);
    /* IE */
    background: rgba(0, 0, 0, 0.78);
    /* NON-IE */
}

//---------

.logo-nav {
    max-width: 100px;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.search * {
    outline: transparent !important;
    box-sizing: border-box;
}

.search__wrapper {
    position: relative;
}

.search__field {
    width: 50px;
    height: 50px;
    color: transparent;
    font-family: Lato, sans-serif;
    font-size: 1.35em;
    padding: 0.35em 50px 0.35em 0;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search__field:focus {
    border-bottom-color: #ccc;
    width: 50vw;
    color: #2b2b2b;
    cursor: default;
}

.search__field:focus~.search__icon {
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
}

.search__icon {
    outline: transparent !important;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e9f1f4;
    width: 50px;
    height: 50px;
    font-size: 1.35em;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
}

.search__field::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field:-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field::-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field::-webkit-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field:-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field::-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field:-ms-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}